<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateYourAlert</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet/styles.css">
  </head>
  <header>
    <div class="logo">
      <img src="img/OffApp-LOGO.png" alt="OffAppLOGO" name="OffApp" />
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="navPlace" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown itemBar">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="img/deployable-yellow.png" name="Menu"/>
              </a>
              <ul class="dropdown-menu">
                <form action="/action_page.php">
                  <input type="radio" id="locat1" name="locat" value="selfLocation">
                  <label for="locat1">Usar mi ubicación</label><br>
                  <input type="radio" id="locat2" name="locat" value="selectLocation">
                  <label for="locat2">Elegir ubicación</label>
                </form>
                <li><hr></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="itemDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Almacén
                  </a>
                <ul class="dropHover">
                  <li><a class="dropdown-item" href="#">Arroz</a></li>
                  <li><a class="dropdown-item" href="#">Fideos</a></li>
                  <li><a class="dropdown-item" href="#">Aceite</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                </ul>
                </li>
                <li><a class="dropdown-item" href="#">Verdulería</a></li>
                <li><a class="dropdown-item" href="#">Ferretería</a></li>
                <li><a class="dropdown-item" href="#">Carnicería</a></li>
                <li><a class="dropdown-item" href="#">Artículos de Limpieza</a></li>
                <li><a class="dropdown-item" href="#">NextAdded</a></li>
              </ul>
            </li>
            <li class="nav-item itemBar">
              <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item itemBar">
              <a class="nav-link" th:href="@{/friend_businesses}">Comercios amigos</a>
            </li>
            <li class="nav-item itemBar">
              <a class="nav-link" th:href="@{/create_your_alert}">Crea tu alerta</a>
            </li>
            <li class="nav-item itemBar">
              <a class="nav-link" th:href="@{/contact}">Contacto</a>
            </li>
            <li class="nav-item itemBar">
              <a class="nav-link" th:href="@{/social_media}">Redes sociales</a>
            </li>
            <li class="nav-item itemBar">
              <a class="nav-link" th:href="@{/about_us}">Nosotros</a>
            </li>
          </ul>
          <form id="searchPlace">
            <div id="sP1">
              <input id ="searchBar" type="search" placeholder="Buscar..." aria-label="Search">
            </div>
            <div id="sP2">
              <button type="submit"><img src="img/search-yellow.png"/></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <body id="content">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <footer id ="socialMedia">

    <footer>
  </body>
</html>
