<div th:fragment="navbar">
	<header>
      <div class="logo">
        <img src="/img/OffApp-LOGO.png" alt="OffAppLOGO" name="OffApp" />
      </div>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navPlace" class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown itemBar">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/img/deployable-yellow.png" name="Menu"/>
                </a>
              </li>
              <li class="nav-item itemBar">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
              </li>
              <li class="nav-item itemBar">
                <a class="nav-link" th:href="@{/friend_businesses}">Comercios amigos</a>
              </li>
              <li class="nav-item itemBar">
                <a class="nav-link" th:href="@{/alert/new}">Crea tu alerta</a>
              </li>
              <li class="nav-item itemBar">
                <a class="nav-link" th:href="@{/contact}">Contacto</a>
              </li>
              <li class="nav-item itemBar">
                <a class="nav-link" th:href="@{/social_media}">Redes sociales</a>
              </li>
              <li class="nav-item itemBar">
                <a class="nav-link" th:href="@{/about_us}">Nosotros</a>
              </li>
              <li class="nav-item itemBar">
              	<a class="nav-link" th:href="@{/offer/new}">Crear nueva oferta</a>
              </li>
            </ul>
            <form id="searchPlace">
              <div id="sP1">
                <input id ="searchBar" type="search" placeholder="Buscar..." >
              </div>
              <div id="sP2">
                <button id="searchButton" type="submit"><img src="/img/search-yellow.png"/></button>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </header>
</div>