<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OffApp</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/offerstyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/navstyles.css">
  </head>
  <body id="content">
    <header th:insert="navbar.html :: navbar"></header>
    <div class="forms">
    	<hr>
	    <h3>Crear nueva oferta</h3>
	    <hr>
	    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
		    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{image}"><br>
		    	</div>
		    	<div class="authorPlace">
		    		<label for="author">Autor:</label><br>
		    		<input type="text" id="author" name="author" placeholder="Insertar autor..." th:field="*{author}"><br>
		    	</div>
		    	<div>
		    		<label for="description">Descripción:</label><br>
		    		<input type="text" id="description" name="description" placeholder="Insertar descripción..." th:field="*{description}"><br>
		    	</div>
		    	<div>
		    		<label for="offPrice">Precio de oferta:</label><br>
		    		<input type="text" id="offPrice" name="offPrice" placeholder="Instertar precio de oferta..." th:field="*{offPrice}"><br>
		    	</div>
		    	<div>
		    		<label for="origPrice">Precio original:</label><br>
		    		<input type="text" id="origPrice" name="origPrice" placeholder="Insertar precio original..." th:field="*{origPrice}"><br>
		    	</div>
		    	<div>
		    		<button type="submit">Crear</button>
		    	</div>
	       	</form>
	</div>
    <hr>
	<div class="forms">
    <h3>Crear top 1 recomendado</h3>
    <hr>
    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
	    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{imageFirst}"><br>
	    	</div>
	    	<div class="authorPlace">
	    		<label for="authorFirst">Autor:</label><br>
	    		<input type="text" id="authorFirst" name="authorFirst" placeholder="Insertar autor..." th:field="*{authorFirst}"><br>
	    	</div>
	    	<div>
	    		<label for="descriptionFirst">Descripción:</label><br>
	    		<input type="text" id="descriptionFirst" name="descriptionFirst" placeholder="Insertar descripción..." th:field="*{descriptionFirst}"><br>
	    	</div>
	    	<div>
	    		<label for="offPriceFirst">Precio de oferta:</label><br>
	    		<input type="text" id="offPriceFirst" name="offPriceFirst" placeholder="Instertar precio de oferta..." th:field="*{offPriceFirst}"><br>
	    	</div>
	    	<div>
	    		<label for="origPriceFirst">Precio original:</label><br>
	    		<input type="text" id="origPriceFirst" name="origPriceFirst" placeholder="Insertar precio original..." th:field="*{origPriceFirst}"><br>
	    	</div>
	    	<div>
	    		<button type="submit">Crear</button>
	    	</div>
       	</form>
    </div>
    <hr>
    <div class="forms">
	<h3>Crear top 2-1 recomendado</h3>
    <hr>
    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
	    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{imageSecond1}"><br>
	    	</div>
	    	<div class="authorPlace">
	    		<label for="authorSecond1">Autor:</label><br>
	    		<input type="text" id="authorSecond1" name="authorSecond1" placeholder="Insertar autor..." th:field="*{authorSecond1}"><br>
	    	</div>
	    	<div>
	    		<label  for="descriptionSecond1">Descripción:</label><br>
	    		<input type="text" id="descriptionSecond1" name="descriptionSecond1" placeholder="Insertar descripción..." th:field="*{descriptionSecond1}"><br>
	    	</div>
	    	<div>
	    		<label for="offPriceSecond1">Precio de oferta:</label><br>
	    		<input type="text" id="offPriceSecond1" name="offPriceSecond1" placeholder="Instertar precio de oferta..." th:field="*{offPriceSecond1}"><br>
	    	</div>
	    	<div>
	    		<label for="origPriceSecond1">Precio original:</label><br>
	    		<input type="text" id="origPriceSecond1" name="origPriceSecond1" placeholder="Insertar precio original..." th:field="*{origPriceSecond1}"><br>
	    	</div>
	    	<div>
	    		<button type="submit">Crear</button>
	    	</div>
       	</form>
    </div>
    <hr>
    <div class="forms">
	<h3>Crear top 2-2 recomendado</h3>
    <hr>
    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
	    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{imageSecond2}"><br>
	    	</div>
	    	<div class="authorPlace">
	    		<label for="authorSecond2">Autor:</label><br>
	    		<input type="text" id="authorSecond2" name="authorSecond2" placeholder="Insertar autor..." th:field="*{authorSecond2}"><br>
	    	</div>
	    	<div>
	    		<label for="descriptionSecond2">Descripción:</label><br>
	    		<input type="text" id="descriptionSecond2" name="descriptionSecond2" placeholder="Insertar descripción..." th:field="*{descriptionSecond2}"><br>
	    	</div>
	    	<div>
	    		<label for="offPriceSecond2">Precio de oferta:</label><br>
	    		<input type="text" id="offPriceSecond2" name="offPriceSecond2" placeholder="Instertar precio de oferta..." th:field="*{offPriceSecond2}"><br>
	    	</div>
	    	<div>
	    		<label for="origPriceSecond2">Precio original:</label><br>
	    		<input type="text" id="origPriceSecond2" name="origPriceSecond2" placeholder="Insertar precio original..." th:field="*{origPriceSecond2}"><br>
	    	</div>
	    	<div>
	    		<button type="submit">Crear</button>
	    	</div>
       	</form>
    </div>
    <hr>
    <div class="forms">
	<h3>Crear top 3-1 recomendado</h3>
    <hr>
    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
	    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{imageThird1}"><br>
	    	</div>
	    	<div class="authorPlace">
	    		<label for="authorThird1">Autor:</label><br>
	    		<input type="text" id="authorThird1" name="authorThird1" placeholder="Insertar autor..." th:field="*{authorThird1}"><br>
	    	</div>
	    	<div>
	    		<label for="descriptionThird1">Descripción:</label><br>
	    		<input type="text" id="descriptionThird1" name="descriptionThird1" placeholder="Insertar descripción..." th:field="*{descriptionThird1}"><br>
	    	</div>
	    	<div>
	    		<label for="offPriceThird1">Precio de oferta:</label><br>
	    		<input type="text" id="offPriceThird1" name="offPriceThird1" placeholder="Instertar precio de oferta..." th:field="*{offPriceThird1}"><br>
	    	</div>
	    	<div>
	    		<label for="origPriceThird1">Precio original:</label><br>
	    		<input type="text" id="origPriceThird1" name="origPriceThird1" placeholder="Insertar precio original..." th:field="*{origPriceThird1}"><br>
	    	</div>
	    	<div>
	    		<button type="submit">Crear</button>
	    	</div>
       	</form>
    </div>
    <hr>
    <div class="forms">
	<h3>Crear top 3-2 recomendado</h3>
    <hr>
    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
	    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{imageThird2}"><br>
	    	</div>
	    	<div class="authorPlace">
	    		<label for="authorThird2">Autor:</label><br>
	    		<input type="text" id="authorThird2" name="authorThird2" placeholder="Insertar autor..." th:field="*{authorThird2}"><br>
	    	</div>
	    	<div>
	    		<label for="descriptionThird2">Descripción:</label><br>
	    		<input type="text" id="descriptionThird2" name="descriptionThird2" placeholder="Insertar descripción..." th:field="*{descriptionThird2}"><br>
	    	</div>
	    	<div>
	    		<label for="offPriceThird2">Precio de oferta:</label><br>
	    		<input type="text" id="offPriceThird2" name="offPriceThird2" placeholder="Instertar precio de oferta..." th:field="*{offPriceThird2}"><br>
	    	</div>
	    	<div>
	    		<label for="origPriceThird2">Precio original:</label><br>
	    		<input type="text" id="origPriceThird2" name="origPriceThird2" placeholder="Insertar precio original..." th:field="*{origPriceThird2}"><br>
	    	</div>
	    	<div>
	    		<button type="submit">Crear</button>
	    	</div>
       	</form>
    </div>
	<hr>
	<div class="forms">
	<h3>Crear top 3-3 recomendado</h3>
    <hr>
    	<form th:action="@{/offer/create}" method="post" th:object=${offer}>
	    	<div class="typeSelector">
		    		<label for="type">Tipo:</label><br>
		    		<label for="type">Producto</label>
		    		<input class="checkInput1" type="checkbox" if="type" name="type"><br>
		    		<label for="type">Servicio</label>
		    		<input class="checkInput2" type="checkbox" if="type" name="type"><br>
		    	</div>
		    	<div class="PopUpActions">
		    		<label for="file-input">Insertar una imagen: </label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="file" name="files" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif" tabindex="11" th:field="*{imageThird3}"><br>
	    	</div>
	    	<div class="authorPlace">
	    		<label for="authorThird3">Autor:</label><br>
	    		<input type="text" id="authorThird3" name="authorThird3" placeholder="Insertar autor..." th:field="*{authorThird3}"><br>
	    	</div>
	    	<div>
	    		<label for="descriptionThird3">Descripción:</label><br>
	    		<input type="text" id="descriptionThird3" name="descriptionThird3" placeholder="Insertar descripción..." th:field="*{descriptionThird3}"><br>
	    	</div>
	    	<div>
	    		<label for="offPriceThird3">Precio de oferta:</label><br>
	    		<input type="text" id="offPriceThird3" name="offPriceThird3" placeholder="Instertar precio de oferta..." th:field="*{offPriceThird3}"><br>
	    	</div>
	    	<div>
	    		<label for="origPriceThird3">Precio original:</label><br>
	    		<input type="text" id="origPriceThird3" name="origPriceThird3" placeholder="Insertar precio original..." th:field="*{origPriceThird3}"><br>
	    	</div>
	    	<div>
	    		<button type="submit">Crear</button>
	    	</div>
       	</form>
	</div>
  </body>
</html>