<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OffApp</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheet/indexstyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/navstyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/menustyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/footerstyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/storestyles.css">
  </head>
  <body id="content">
    <header th:replace="fragments :: navbar"></header>
    <div class="forms">
    	<hr>
	    <h3>Crear nuevo negocio</h3>
	    <hr>
	    	<form class="storeForm" th:action="@{/store/save}" method="post" th:object=${store}>
		    	<div class="PopUpActions">
		    		<label for="file-input">Imagen:</label><br>
		    		<input id="file-input" class="PopUpActions-fileInput" type="text" name="files" multiple="" accept=".jpg,.jpeg,.png,.apng,.tiff,.tif" placeholder="Insertar URL..." th:field="*{image}"><br>
		    	</div>
		    	<div class="storeName">
		    		<label for="name">Nombre:</label><br>
		    		<input type="text" id="name" name="name" placeholder="Insertar nombre..." th:field="*{name}"><br>
		    	</div>
		    	<div class="storeAdress">
		    		<label for="address">Dirección:</label><br>
		    		<input type="text" id="address" name="address" placeholder="Insertar dirección..." th:field="*{address}"><br>
		    	</div>
		    	<div class="storeContact">
		    		<label for="contact">Contacto:</label><br>
		    		<input type="text" id="contact" name="contact" placeholder="Instertar contacto..." th:field="*{contact}"><br>
		    	</div>
		    	<input name="id" type="hidden" th:value="*{id}">
		    	<div>
		    		<button type="submit">Guardar</button>
		    	</div>
	       	</form>
	</div>
    <hr>
    <footer class="fixed-bottom">
        	<div th:replace="fragments :: webFooter"></div>
    </footer>
  </body>
</html>