*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.content {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.offPlace {
	width: 100%;
}

.offHeader {
	height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.headerSection {
	display: flex;
	flex-direction: row;
	height: 50%;
	width: 100%;
	margin: 10px 0px 15px -20px;
}

.hSection1 {
	height: 100%;
	width: 50%;
	margin: 0px 10px 0px 0px;
}

.hSec1Prod {
	height: 100%;
	width: 100%;
	box-shadow: 0px 5px 15px 8px rgba(0,0,0,0.5);
}

.hSection2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	margin: 0px 0px 0px 10px;
}

.secSubsec1 {
	height: 50%;
	width: 100%;
	padding: 0px 0px 5px 0px;
}

.sub1 {
	height: 100%;
	width: 100%;
	box-shadow: 0px 5px 15px 8px rgba(0,0,0,0.5);
}

.secSubsec2 {
	height: 50%;
	width: 100%;
	padding: 5px 0px 0px 0px;
}

.sub2 {
	height: 100%;
	width: 100%;
	box-shadow: 0px 5px 15px 8px rgba(0,0,0,0.5);
}

.top3 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.top31 {
	height: 100%;
	width: 33%;
	display: flex;
	flex-direction: row;
	color: white;
}

.top32 {
	height: 100%;
	width: 33%;
	display: flex;
	flex-direction: row;
	color: white;
}

.top33 {
	height: 100%;
	width: 33%;
	display: flex;
	flex-direction: row;
	color: white;
}

.show3HProduct {
	height: 100%;
	width: 100%;
	box-shadow: 0px 5px 15px 8px rgba(0,0,0,0.5);
}

.offContainer {
	height: 1000px;
	width: 100%;
}

.offSector {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.showOff {
	height: 100%;
	width: 12%;
}


.showProduct {
	height: 100%;
	width: 200px;
	box-shadow: 0px 5px 15px 8px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
}

.photoSec {
	height: 60%;
	width: 100%;
	margin: 5px;
}

.photoSec img {
	height: 100%;
	width: 100%;
}

.description {
	height: 10%;
	width: 100%;
	text-align: center;
	font-family: arial;
	font-size: 0.9vw;
	font-weight: 600;
}

.authorSec {
	height: 10%;
	width: 100%;
	text-align: center;
	font-family: arial;
}

.offPrice {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.offPrice img{
	height: 30px;
	width: 30px;
}

.origPrice {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	font-family: arial;
}

/* -------------------------- */
