*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

header {
  background-color: #ffffff;
}

header .logo {
  margin: 10px;
  text-align: center;;
}

.logo img {
  height: 20vh;
  width: 20vw;
}

header nav {
  font-family: arial;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #000000;
}

/*.fixed {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}*/

.dropdown-menu {
  background-color: black;
  width: 20vw;
}

hr {
  color: #ffff00;
}

.navlabel {
  color: #ffff00;
}

.nav-item a {
  color: #ffff00;
}

#navbarDropdown img {
  width: 28px;
  height: 30px;
}

#searchPlace {
  width: 15%;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
}

#sP1 {
  width: 90%;
}

#sP2 {
  width: 10%;
  text-align: right;
}

#searchBar {
  height: 100%;
  width: 100%;
  border-width: 0px;
}

#searchPlace button {
  padding: 5px 10px 5px 10px;
  background-color: black;
}

#searchButton img {
  height:23px;
  width: 23px;
}

#navPlace {
  padding-left: 0px;
  width: 85%;
}

.itemBar {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link:hover {
  color: #fff;
  border: 5px;
  border-color: #ffff00;
  transition: all .3s;
}

.nav-link:active {
  color: white;
}
